
/*cards*/
.notifications-bg{
    background-color: #eff0f0
}


.notification-card  .notification-card-headline.assessment_needs_review > span {
    color:#1fb0f8
}

.notification-card  .notification-card-headline.event_pain > span {
    color:#fd571d
}

.notification-card   .notification-card-headline.exercise_trouble > span {
    color:#ffb003
}

.notification-card  .notification-card-message {
    color:#97a8bc
}

.notification-card  .notification-card-date {
    color:#d0d2d2
}

button.link > span {
    color:#1fb0f8
}

button.dismiss > span 
{
     color: rgba(148, 148, 156, 0.81);
}





/*badge*/

*.icon-blue {color: #0088cc}
*.icon-grey {color: grey}

i {
    width:100px;
    text-align:center;
    vertical-align:middle;
}

.fa {
    position: relative;
}

.badge {
    font-size: 0.6em;
    display: block;
    position: absolute;
    top: -1.25em;
    right: 3.2em;
    width: 2em;
    height: 2em;
    line-height: 2em;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background: rgba(241, 20, 20, 0.74);
    font-weight: bold;
}

/*dialog*/

.dialog-header{
    background-color: #2d4d6d !important;
}
